{% extends 'base_auth.html' %}


{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body" style="background-color:grey;">
            <div class="card-title">
                <h4>Register for a free account</h4>

                <form action="" method="post">
                    <div class="form-group" style="margin:5px;">
                        <input type="text" name="username" id="usernameField" placeholder="username" class="form-control form-control-sm">
                    </div>

                    <div class="form-group" style="margin:5px;">
                        <input type="email" name="email" id="emailField" placeholder="Email" class="form-control form-control-sm">
                    </div>

                    <div class="form-group" style="margin-top:5px;">
                        <input type="password" name="password" id="passwordField" placeholder="Password" class="form-control form-control-sm">
                    <small style="float:right;" class="float-right py-2">SHOW</small>
                    </div>

                    <input type="submit" value="Register" class="btn btn-block btn-primary" style="margin-top:20px;">
                </form>
            </div>
        </div>
    </div>
</div>
      <div class="col md-4"></div>
</div>

{% endblock content %}