{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<link href="{% static 'css/main.css' %}" rel="stylesheet">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body" style="background-color:grey;">
                <div class="card-title"><h4>Register for a free account</h4></div>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}
                    <div class="form-group" style="margin-top:5px; margin-bottom:5px;">
                        <input type="text" name="username" id="usernameField" placeholder="username" class="form-control form-control-sm" value="{{fieldValues.email}}">
                    </div>

                    <div class="invalid-feedback" style="display:none"></div>
                    <p class="text-sm text-success usernameSuccessOutput" style="display:none"></p>



                    <div class="form-group" style="margin-top:5px; margin-bottom:5px;">
                        <input type="email" name="email" id="emailField" placeholder="Email" class="form-control form-control-sm" value="{{fieldValues.username}}">
                    </div>

                    <div class="emailFeedbackArea invalid-feedback" style="display:none"></div>
                        <p class="text-sm text-success emailSuccessOutput" style="display:none"></p>



                    <div class="form-group" style="margin-top:5px; margin-bottom:5px;">
                        <input type="password" name="password" id="passwordField" placeholder="Password" class="form-control form-control-sm">
                    <small style="float:right;" class="showPasswordToggle float-right py-2">SHOW</small>
                    </div>

                    <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn" style="margin-top:20px;">
                </form>

                <div class="container">
                    <span class="text-lead lead">Already have an account? </span><a href="{% url 'login' %}">Register</a><br>
                    <span class="text-lead lead">Forgot Password? </span><a href="{% url 'reset-password' %}">Reset Password</a>
                </div>

            </div>

        </div>
    </div>
      <div class="col md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}