body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-align: center;
}

.button1 {
    background-color: white;
    color: #DC143C;
    border: 2px solid #DC143C;
    border-radius: 8px;
    font-size: 24px
  }

.button2 {
    background-color: white;
    color: #008080;
    border: 2px solid #008080;
    border-radius: 8px;
    font-size: 24px
}

.button3 {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    font-size: 24px
}
