body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    margin-top: 50px;
    padding: 2rem 1rem;
    text-align: center;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-align: center;
}

[class*="button-"] {
    background-color: white;
    border-radius: 8px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}

.button-1 {
    color: #DC143C;
    border: 2px solid #DC143C;
  }

.button-2 {
    color: #008080;
    border: 2px solid #008080;
}

.button-3 {
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.button-4 {
    color: black;
    border: 2px solid black;
}

[class*="button-"]:hover {
    background-color: bisque;
}

#button {
    text-align: center;
    margin: 10px 0;
}

title {
    color: black;
    font size: 50px;
    text-align: center;

}