{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>symbol</th>
            <th>name</th>
            <th>shares</th>
            <th>price</th>
            <th>total</th>
        </tr>

        <tr>
            {% for row in rows%}
            <td>{{row["symbol"]}}</td>
            <td>{{row["name"]}}</td>
            <td>{{row[]}}</td>
            <td></td>
            <td></td>
            {% endfor %}
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Cash</td>
            <td>todo</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>TOTAL</td>
            <td>todo</td>
        </tr>
    </table>
{% endblock %}
